<div class="container-fluid content">
    <div class="px-auto py-3">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div id="map" class="px-5"></div>
            </div>
            <div id="student-info" class="col-md-6 col-sm-12">
                <div class="card shadow">
                    <div class="card-header text-white text-center">
                        <h5>Student Information</h5>
                    </div>
                    <div class="card-body row">
                        <div class="col-md-12 col-sm-6 student-card-info">
                            <img id="student-avatar" src="/student-avatar/avatar.png" alt="">
                        </div>
                        <div class="col-md-12 col-sm-6 mx-3 student-card-info">
                            <p><strong>Name:</strong> John Doe</p>
                            <p><strong>Student ID:</strong> 123456789</p>
                            <p><strong>Major:</strong> Computer Science</p>
                            <p><strong>Email:</strong><a href="mailto:johndoe@example.com"> johndoe&#64;example.com</a></p>
                            <p><strong>Phone:</strong> (123) 456-7890</p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 