/* Map Styling */
#map {
    min-height: 800px;
}

/* Student Info Card Styling */
#student-info .card {
    border-radius: 10px; /* Smooth corners */
    overflow: hidden;    /* Ensure content doesn't spill out of the card */
    background: #ffffff; /* White background for contrast */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0 auto;      /* Center-align the card on small screens */
    min-height: 800px;
}

.card-header {
    background: linear-gradient(45deg, #782f40, #cfc493); /* Garnet and gold gradient */
    font-weight: bold;    /* Emphasized header text */
    font-size: 18px;      /* Slightly larger header text */
    padding: 15px;        /* Add space around text */
}

/* Styling for the Avatar */
#student-avatar {
    max-width: 280px;         /* Set avatar width */
    min-height: 180px;        /* Set avatar height */
    border-radius: 50%;   /* Make the avatar circular */
    object-fit: cover;    /* Ensure the image fits the circle without distortion */
    display: block;       /* Center-align the avatar */
    margin: 0 auto 0; 
    border: 2px solid #cfc493; /* Gold border */
}

#student-info-text {
    margin-top: 30px;
    margin-left: 7rem;
}

.card-body h5 {
    font-size: 40px !important;
}

.card-body p {
    font-family: 'Roboto', sans-serif; /* Modern, clean font */
    font-size: 20px;                   /* Readable font size */
    color: #5a5c69;                    /* Neutral dark gray for text */
    margin-top: 20px;               /* Spacing between entries */
}

/* Responsive Design */
@media (max-width: 1400px) {
    #student-info-text {
        margin-left: 3rem;
    }
}
@media (max-width: 768px) {
    #map {
        margin: auto;
        max-width: 85%;
        margin-bottom: 20px;
    }

    #student-info .card {
        max-width: 85%;
        min-height: 50vh;
        max-height: 130vh;
    }

    #student-avatar {
        max-height: 150px;
        margin-top: 45px;
    }

    #student-info-text {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    #student-avatar {
        margin: auto auto;
    }
    #student-info-text {
        margin-left: 20px;
    }
}